body{
            font-family: Arial, sans-serif;
            background: #eef6ff;
            display: flex;
            justify-content: center;
            align-items:center;
       }
        .forgot-password-container{
            width: 360px;
            background: white;
            padding:30px;
            border-radius: 16px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
            text-align: center;
       }
        .forgot-password-container h2{
            color: #1e4dbc;
        }  
        .forgot-password-container input{
            width: 100%;
            padding: 12px;
            margin-top: 15px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }
        .forgot-password-container button{
            width: 100%;
            margin-top: 20px;
            padding: 12px;
            background: #1e4dbc;
            border: none;
            border-radius: 8px;
            color: white;
            cursor: pointer;
        }
        .forget-password button:hover{
            background: #163b96;
        }