
{% extends "base.html" %}
{% block title %}Utilisateurs{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block content %}
<div class="page-header">
    <h2>Liste des Utilisateurs</h2>
    <a href="{{ url_for('add_user') }}" class="btn-add">+ Ajouter un utilisateur</a>
</div>
<div class="table-card">
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Rôle</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="user-row" data-id="{{ user.Id_User }}" data-username="{{ user.UserName }}" data-email="{{ user.email }}" data-role="{{ user.role }}">
                <td>{{ user.Id_User }}</td>
                <td>{{ user.UserName }}</td>
                <td>{{ user.email }}</td>
                <td>{{user.role}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="userModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Détails de l'utilisateur</h2>
        <form id="editUserForm" method="POST">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="email" name="email" placeholder="Email" required>
            <select name="role" required>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <div class="modal-buttons">
                <button type="submit" class="btn-edit">Modifier</button>
                <button type="button" id="deletUserBtn" class="btn-delete">Supprimer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{%block js %}
<script>
    //récupere les élements 
    const modal = document.getElementById("userModal");
    const closeBtn = modal.querySelector(".close");
    const editForm = document.getElementById("editUserForm");
    const deleteBtn = document.getElementById("deletUserBtn");
    //FONCTION POUR OUVRIR LE MODEL AVEC LES DONN2ES DE USER
    const openModel = row => {
        // Remlir le formulaire
        editForm.username.value = row.dataset.username;
        editForm.email.value = row.dataset.email;
        editForm.role.value = row.dataset.role;
        editForm.action = `/users/edit/${row.dataset.id}`;
        //supprimer user
        deleteBtn.onclick = () => {
            if (confirm("Voulez-vous vraiment supprimer cet utilisateur ?")) {
                fetch(`/users/delete/${row.dataset.id}`, {
                    method: 'POST'}).then(() => location.reload());
            }
        };
        // Afficher le modèle
            modal.style.display = "flex";
    };
    // Ajouter le clic sur chaque ligne du tableau
    document.querySelectorAll('.user-row').forEach(row => {
        row.addEventListener('click', () => openModel(row));
    });
    // Fermer le model au clic sur croix
    closeBtn.onclick = () => {
        modal.style.display = "none";
    };
    // Ferme le modal si clic en dehors
    window.onclick = (event) => {
    if (event.target === modal){
        modal.style.display = "none";
    }
};
</script>
{% endblock %}
